{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <table class="table text-left"  >
        <thead>
            <tr>
                <th>Sumbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
            <tr>
                <td>{{ operation.symbol }}</td>
                <td>{{ operation.shares }}</td>
                <td>${{ operation.price }}</td>
                <td>{{ operation.time }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
