{% extends "layout.html" %}

{% block title %}
  Members
{% endblock %}

{% block main %}
  <div class="p-5 border rounded bg-white">

    {% if session.permission in ['Super','Admin'] %}
      <form action="" method="post">
        <button name="action" value="add" class="btn btn-primary">
          New Member &numsp; <img src="/static/images/plus.svg" width="20" class="text-white" alt="add new member">
        </button>
      </form>
      <hr>

    {% endif %}
    <table class="table table-striped table-hover">
      <thead>
      <tr class="text-center text-white bg-qatar">
        <th>#</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Role</th>
        <th>Permission</th>
        <th></th>
      </tr>
      </thead>
      {% for member in members %}
        <tr class="text-center">
          <td class="h5">{{ member['id'] }}</td>
          <td>{{ member['name'] }}</td>
          <td>{{ member['email'] }}</td>
          <td>{{ member['role'] }}</td>
          <td>{{ member['permission'] }}</td>
          <td class="text-right">
            {% if session.permission =='Super' %}
              <form class="d-inline-block" action="" method="post">
                <input type="hidden" name="id" value="{{ member['id'] }}">
                <button name="action" value="edit" class="btn btn-primary btn-sm">
                  <img src="/static/images/edit.svg" width="24" alt="">
                </button>
              </form>
            {% endif %}

            {% if session.permission == 'Super' %}
              <form class="d-inline-block" action="" method="post">
                <input type="hidden" name="id" value="{{ member['id'] }}">
                <button name="action" value="delete" class="btn btn-primary btn-sm">
                  <img src="/static/images/trash.svg" width="24" alt="">
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tbody>

      </tbody>
    </table>
  </div>
{% endblock %}
